       <div class="fixed bottom-0 w-full">
            <hr class="my-0" />
            <footer class="bg-gray-100 text-center text-sm text-gray-600 py-4 mt-0">
                &copy; {new Date().getFullYear()} Restaurant Astro. Tous droits réservés.
            </footer>
</div>