---
import Footer from "../components/Footer";
import Header from "../components/Header";
import "../layouts/global.css";
import { CartProvider } from "../components/react/CartContext";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Restaurant</title>
  </head>
  <body class="bg-white text-gray-900 font-sans ">
    <CartProvider client:load>
      <Header client:load />
      <slot />
      <Footer client:load />
    </CartProvider>
  </body>
</html>


